body{
    background-image: linear-gradient(rgba(0,0,0,0.336),rgba(0,0,0,0.344)),url(./accets/back.jpg);
    
    
}
.login-top{
    width:100vw;
    height: 70px;
    background-color: rgba(0,0,0,0);
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.login-top img{
    width: 300px;
}
.navbar{
     position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}
.right-nav{
    display:flex;
    align-items: center;
    gap:5px;
}
.searchbar select{
    padding:8px 15px;
    background:transparent;
    color:white;
    border:1px solid white;
    border-radius:4px;
    

}
.navbar {
    display: flex;
    align-items: center;
}

.signin {
    margin-left: auto;
    margin-right: 10px;
}

.signin button {
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #e50914;
    color: white;
    border: 1px solid white;
}
    
.content{
    position:relative;
    z-index:2;

    color:white;
    text-align:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    height:80vh;
    padding:20px;
}
.content h1 {
    font-size: 3.5rem;
    max-width: 800px;
    margin-bottom: 20px;
}

.content h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}
.email-box input{
    width:150px;
    max-width:40%;
    padding:15px;
    border:none;
    border-radius:4px;
    font-size:1rem;
}
.content button{
    width: 120px;
    height: 55px;
    background-color: #e50914;
    
}
 .navbar{
        padding:20px;
    }

.logo h1{
        font-size:2rem;
    }

 .content h1{
        font-size:2.2rem;
    }

 .content h3{
        font-size:1.2rem;
    }

 .email-box{
        flex-direction:column;
        width:100%;
        align-items:center;
         }

 .email-box input{
        width:90%;
    }
.login-box{
    background-color: rgba(0,0,0,0.899);
    width: 430px;
    height: 600px;
    border-radius: 5px;
    padding: 30px;
}
 .login-box{   
 margin-left: auto;
    margin-right: 500px;
    margin-bottom: 100px;
 }
 .small-text{
    font-size: 13px;
 }
 .form-control{
    box-shadow: none !important;
 }
 .feature{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    color:white;
    border-top:8px solid #222;
    background:black;
}

.reverse{
    flex-direction:row-reverse;
}

.feature-text{
    flex:1;
}

.feature-text h2{
    font-size:3rem;
    margin-bottom:20px;
}

.feature-text p{
    font-size:1.4rem;
}

.feature-image{
    flex:1;
    text-align:center;
}

.feature-image img{
    width:100%;
    max-width:1000px;
}

